{{ 'dc-section-scrolling-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
	  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	}

	#{{ section.id }} {
	  --duration: {{- section.settings.duration -}}s;
	  --l-scrolling-banner-gap: {{ section.settings.gap }}px;
	  --l-scrolling-radius: {{ section.settings.radius }}rem;
	  {%- if section.settings.direction == 'rtl' -%}
	  --direction: normal;
	  {%- else -%}
	  --direction: reverse;
	  {%- endif -%}
	}
{%- endstyle -%}

<div
	class="scrolling-banner scrolling-banner--pausable section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} color-{{ section.settings.scheme }}"
	id="{{ section.id }}"
	role="marquee"
	{% if settings.animations_reveal_on_scroll %}
		data-cascade
	{% endif %}
>
	<div class="scrolling-banner__container">
		{%- for index in (1..section.settings.loop) -%}
			<div class="scrolling-banner__list">
				{%- for block in section.blocks -%}
					{% liquid
						assign image = block.settings.image
						assign icon_width = block.settings.icon_width
						assign heading = block.settings.heading
						assign button_label = block.settings.button_label
						assign button_link = block.settings.button_link
					%}
					<div class="scrolling-banner__item color-{{ section.settings.scheme }}">
						{%- if image != blank -%}
							<div class="scrolling-banner__item-image" style="--l-max-width: {{ icon_width }}px;">
								<img
									srcset="
										{%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
										{%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
										{%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
										{%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
										{%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
										{%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
										{{ image | image_url }} {{ image.width }}w
									"
									src="{{ image | image_url: width: icon_width }}"
									sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
									alt="{{ image.alt | escape }}"
									class="motion-reduce"
									loading="lazy"
									width="{{ icon_width }}"
									height="{{ image.height }}"
								>
							</div>
						{%- endif -%}

						{%- if heading != blank -%}
							<span class="scrolling-banner__item-heading inline-richtext {{ section.settings.heading_size }}">
								{{- heading -}}
							</span>
						{%- endif -%}

						{%- if button_label != blank -%}
							<a
								class="scrolling-banner__item-button button button--primary"
								{% if button_link == blank %}
									role="link" aria-disabled="true"
								{% else %}
									href="{{ button_link }}"
								{% endif %}
							>
								{{ button_label | escape }}
							</a>
						{%- endif -%}
					</div>
				{%- endfor -%}
			</div>
		{%- endfor -%}
	</div>
</div>

{% schema %}
{
	"name": "Scrolling banner",
	"class": "section",
	"settings": [
		{
			"type": "color_scheme",
			"id": "scheme",
			"label": "Scheme",
			"default": "scheme-1"
		},
		{
			"type": "range",
			"id": "gap",
			"label": "Maximum space between blocks",
			"min": 20,
			"max": 80,
			"step": 2,
			"unit": "px",
			"default": 30
		},
		{
			"type": "range",
			"id": "radius",
			"label": "Button corners radius",
			"min": 0,
			"max": 10,
			"step": 1,
			"unit": "px",
			"default": 2
		},
		{
			"type": "range",
			"id": "loop",
			"label": "Loop",
			"min": 1,
			"max": 10,
			"step": 1,
			"unit": "x",
			"default": 4
		},
		{
			"type": "range",
			"id": "duration",
			"label": "Duration",
			"min": 10,
			"max": 40,
			"step": 1,
			"unit": "s",
			"default": 24
		},
		{
			"type": "select",
			"id": "direction",
			"label": "Direction",
			"default": "rtl",
			"options": [
				{
					"value": "rtl",
					"label": "Right to left"
				},
				{
					"value": "ltr",
					"label": "Left to right"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.padding.section_padding_heading"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_top",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_bottom",
			"default": 36
		}
	],
	"blocks": [
		{
			"type": "scrolling",
			"name": "Scrolling item",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Icon"
				},
				{
					"type": "range",
					"id": "icon_width",
					"label": "Icon Width",
					"min": 40,
					"max": 200,
					"step": 4,
					"unit": "px",
					"default": 60
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"default": "Scrolling banner",
					"label": "Text"
				},
				{
					"type": "select",
					"id": "heading_size",
					"options": [
						{
							"value": "h2",
							"label": "t:sections.all.heading_size.options__1.label"
						},
						{
							"value": "h1",
							"label": "t:sections.all.heading_size.options__2.label"
						},
						{
							"value": "h0",
							"label": "t:sections.all.heading_size.options__3.label"
						}
					],
					"default": "h1",
					"label": "t:sections.all.heading_size.label"
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "Button label",
					"label": "Button label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Scrolling banner",
			"blocks": [
				{
					"type": "scrolling"
				},
				{
					"type": "scrolling"
				},
				{
					"type": "scrolling"
				},
				{
					"type": "scrolling"
				},
				{
					"type": "scrolling"
				},
				{
					"type": "scrolling"
				},
				{
					"type": "scrolling"
				},
				{
					"type": "scrolling"
				},
				{
					"type": "scrolling"
				},
				{
					"type": "scrolling"
				}
			]
		}
	]
}
{% endschema %}
