{{ 'dc-section-sale-notification.css' | asset_url | stylesheet_tag }}
<script src="{{ 'dc-sale-notification.js' | asset_url }}" defer="defer"></script>

{%- style -%}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
	  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	}
{%- endstyle -%}

<dc-sale-notification>
	<modal-dialog id="PopupModal-{{ section.id }}" class="d-sale-notification">
		<div
			role="dialog"
			aria-modal="true"
			class="d-sale-notification__content"
			tabindex="-1"
		>
			<button
				id="ModalClose-{{ section.id }}"
				type="button"
				class="d-sale-notification__toggle"
				aria-label="{{ 'accessibility.close' | t }}"
			>
				{% render 'icon-close' %}
			</button>
			{%- for block in section.blocks -%}
				{%- case block.type -%}
					{%- when '@app' -%}
						{% render block %}
					{%- when 'heading' -%}
						<h2
							class="inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
							{{ block.shopify_attributes }}
							{% if settings.animations_reveal_on_scroll %}
								data-cascade
								style="--animation-order: {{ forloop.index }};"
							{% endif %}
						>
							{{ block.settings.heading }}
						</h2>
					{%- when 'paragraph' -%}
						<div
							class="newsletter__subheading rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
							{{ block.shopify_attributes }}
							{% if settings.animations_reveal_on_scroll %}
								data-cascade
								style="--animation-order: {{ forloop.index }};"
							{% endif %}
						>
							{{ block.settings.text }}
						</div>
					{%- when 'email_form' -%}
						<div {{ block.shopify_attributes }}>
							{% form 'customer', class: 'newsletter-form' %}
								<input type="hidden" name="contact[tags]" value="newsletter">
								<div
									class="newsletter-form__field-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
									{% if settings.animations_reveal_on_scroll %}
										data-cascade
										style="--animation-order: {{ forloop.index }};"
									{% endif %}
								>
									<div class="field">
										<input
											id="NewsletterForm--{{ section.id }}"
											type="email"
											name="contact[email]"
											class="field__input"
											value="{{ form.email }}"
											aria-required="true"
											autocorrect="off"
											autocapitalize="off"
											autocomplete="email"
											{% if form.errors %}
												autofocus
												aria-invalid="true"
												aria-describedby="Newsletter-error--{{ section.id }}"
											{% elsif form.posted_successfully? %}
												aria-describedby="Newsletter-success--{{ section.id }}"
											{% endif %}
											placeholder="{{ 'newsletter.label' | t }}"
											required
										>
										<label class="field__label" for="NewsletterForm--{{ section.id }}">
											{{ 'newsletter.label' | t }}
										</label>
										<button
											type="submit"
											class="newsletter-form__button field__button"
											name="commit"
											id="Subscribe"
											aria-label="{{ 'newsletter.button_label' | t }}"
										>
											{% render 'icon-arrow' %}
										</button>
									</div>
									{%- if form.errors -%}
										<small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
											{%- render 'icon-error' -%}
											{{- form.errors.translated_fields.email | capitalize }}
											{{ form.errors.messages.email -}}
										</small>
									{%- endif -%}
								</div>
								{%- if form.posted_successfully? -%}
									<h3
										class="newsletter-form__message newsletter-form__message--success form__message"
										id="Newsletter-success--{{ section.id }}"
										tabindex="-1"
										autofocus
									>
										{% render 'icon-success' -%}
										{{- 'newsletter.success' | t }}
									</h3>
								{%- endif -%}
							{% endform %}
						</div>
				{%- endcase -%}
			{%- endfor -%}
		</div>
	</modal-dialog>
</dc-sale-notification>

{% schema %}
{
	"name": "Sale notification",
	"class": "section",
	"tag": "section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [],
	"blocks": [
		{
			"type": "column",
			"name": "t:sections.multicolumn.blocks.column.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.multicolumn.blocks.column.settings.image.label"
				},
				{
					"type": "inline_richtext",
					"id": "title",
					"default": "Column",
					"label": "t:sections.multicolumn.blocks.column.settings.title.label"
				},
				{
					"type": "richtext",
					"id": "text",
					"default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
					"label": "t:sections.multicolumn.blocks.column.settings.text.label"
				},
				{
					"type": "text",
					"id": "link_label",
					"label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
				},
				{
					"type": "url",
					"id": "link",
					"label": "t:sections.multicolumn.blocks.column.settings.link.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Sale notification"
		}
	]
}
{% endschema %}
